@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
header img {
    height: 80px;
    margin: 10px;
}

main {
    color: white;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

nav {
  width: 100%;
}
.loginb {
  float: right;
  font-weight: bold;
  background: none;
  display: block;
  margin-top: 20px;
  margin-right: 12px;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.float-left {
  float: left;
  margin-left: 15px;
}
.loginb:hover {
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.username{
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: auto;
  color: #333;
}
.space {
  padding: 40px;
}
.groupbtn{
  text-decoration: none;
  font-weight: bold;
  margin: 20px auto;
  background: none;
  padding: 10px 10px;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 15px;
}
.groupbtn:hover{
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.search {
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  padding: 10px;
  font-size: 15px;
  -webkit-transition: width .35s ease-in-out;
  transition: 1.25s;
}
.search:focus {
  width: 250px;
  -webkit-transition: width .35s ease-in-out;
  transition: ease-in-out, width .35s ease-in-out;
}
.searchbtn {
  font-weight: bold;
  background: none;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.searchbtn:hover{
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.search-modal{

}
.dropdown {
  margin-right: 10px;
  float: right;
  position: relative;
  display: inline-block;
}
.dropbtn {
  font-weight: bold;
  background: none;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.iconHeader{


  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 20px;



}
.profileimageHeader{
  width: auto;
  height: 120%;
  margin-top: -1.5px;
  margin-left: -5px;
}
.native_iconHeader{


  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 20px;



}
.native_profileimageHeader{
  width: auto;
  height: 120%;
  margin-top: -2px;
  margin-left: -5px;
}
.dropbtn:hover, .dropbtn:focus {
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.dropbtns {
  text-align: left;
  font-weight: bold;
  background: none;
  display: block;
  width: 149.5px;
  border: none;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  transition: 0.25s;
  cursor: pointer;
}
.dropbtns:hover {
  background: #2A3135;
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -130%;
  border: 2px solid #2A3135;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.show {display:block;}
