@import url('https://fonts.googleapis.com/css?family=Roboto');
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
    background: #2A3135;
    font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  color: white;
}
.text {
  text-align: center;
  color: white;
  font-size: 30px;
}
input[type=text], input[type=password] {
  border: 0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  padding: 10px 10px;
  width: 300px;
  outline: none;
  border-radius: 4px;
}

button[type="submit"]{
  border: 0;
  background: #009BFF;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 10px;
  width: 100px;
  outline: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background: #0075B4;
}

  .content {
    background-color: #191919;
    margin: 5% auto 15% auto;
    width: 500px;
    height: 375px;
    padding-top: 5px;
    background: #191919;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 10px;
  }
.alogin{
  text-align: center;
  font-size: 25px;
  color: white;
}
.error {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: red;
}
