body{
  background-color: #2A3135;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.namecontainer{
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  margin-top: 100px;
  background: none;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
#username{
  text-align: center;
  font-size: 50px;
}
.iconHeader{
  display: none;
}

.icon{

  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: auto;
  margin-left: 32%;
  margin-top: 40px;
}
.profileimage{
  width: auto;
  max-height: 130%;
  margin-left: -30px;
}
.native_profileimage{
  width: auto;
  height: 100%;
}
.imageupload{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 425px;
  margin-top: 50px;
  height: 20px;
}
.email{
  margin-top: 20px;
  width:500px;
  background: none;
  border: 1px solid black;
  font-size: 20px;
}
.file{



}
.uploadfile{
  width: 100px;
  height: 20px;
}
