.jumbotron{
    background-color: white!important;
}
.jumbotron.greenback {
    height: 100%;
    padding: 0;
}
.jumbotron.greenback.right {
    float: right;
}
.col-8, .col-4{
    padding: 0!important;
}
#icon{
    width: 40px;
    height: 40px;
    margin: 0;
}