.editor{
  border: 2px solid grey;
}
.explanation_container{
  border: 2px solid black;
}
.output{
  height: 125px;
  width: 100%;
  background-color: inherit;
}
#icon{
  margin: 0;
  width: 35px;
  height: 35px;
  margin-right: 20px;
}
