@import url('https://fonts.googleapis.com/css?family=Roboto');
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.commentbox{
}
.commentinput{
  border: 0;
  background: white;
  width: 300px;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  padding: 10px 10px;
  outline: none;
  border-radius: 4px;
}
.time{
  display: none;
}
.card{
  background: #F5F5F5;
  margin-top:150px;
  float: left;
  margin-left: 20px;
  width: 30rem;
  position:fixed;
  z-index:150;
  transition: 0.25s;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));

  border-radius: 5px;
  overflow: hidden;

}

.btn-link{
  text-align: center;
}

.membercount{
  margin: 0;
}
#comments-container{
  border: 0;
  background: #F5F5F5;
  border: 0.2mm solid black;
  margin-top: 50px;
  border-radius: 5px;
  width: 70%;

  float: right;
  clear: both;

}
.commenter{
  padding: 10px;
  float: left;
  border: none;
  background: none;
  font-size: 13px;
}
.time{
  float:right;
  font-size: 8px;
}
.containerpost{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1ab2ff;
  border-radius: 5px;
  margin-top: 4%;
  border: 0.4mm solid black;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.postowner{
  display: none;
  float: left;
}
.title{
  font-size: 30px;
  margin: 13px;
}
.description{
  font-size: 13px;
  word-wrap: break-word;
  float: left;
  margin-left: 20px;
  max-width: 380px;
}
.avatar{
  float: right;
  margin-right: 10%;
  margin-top: -3%;
  height: 250px;
  border-radius: 7.5px;
}
.commentinput{
  position: absolute;
	bottom: 0px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  font-size: 25px;
  word-wrap: break-word;
  border-radius: 5px;
  background:#1ab2ff;
  bottom:-20px;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
      height: 4%;

}
.commentbtn{
  display: none;
}
.commentbtn:hover{
  background:#1ab2ff;
  color: white;
}
.comment{
  text-align: center;
  margin-top: 50px;
  max-width: 700px;
  word-wrap: break-word;
}
@media only screen and (max-width: 1369px) {

  #comments-container{
    border: 0;
    background: #F5F5F5;
    border: 0.2mm solid black;
    margin-top: 50px;
    border-radius: 5px;
    width: 50%;
    float: right;
    clear: both;
  }
  .commentinput{
    width: 40%;
  }
}
@media only screen and (max-width: 400px) {
  #comments-container{
    border: 0;
    background: #F5F5F5;
    border: 0.2mm solid black;
    margin-top: 50px;
    border-radius: 5px;
    width: 20%;
    float: right;
    clear: both;
  }
  .commentinput{
    width: 40%;
  }
  .card{
    background: #F5F5F5;
    margin-top:100px;
    margin-right: 10px;
    float: left;
    width: 12rem;
    position:fixed;
    z-index:150;
    transition: 0.25s;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));

    border-radius: 5px;
    overflow: hidden;
  }

  .time{
    display: none;
  }
  .commentinput{
    width: 40%;
    font-size: 10px;
  }
  .commentbtn{
    position: absolute;
  	bottom: 0px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    font-size: 25px;
    word-wrap: break-word;
    border-radius: 5px;
    background:#1ab2ff;
    bottom:-20px;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
        height: 4%;
  }
  #comments-container{
    border: 0;
    background: #F5F5F5;
    border: 0.2mm solid black;
    margin-top: 50px;
    border-radius: 5px;
    width: 35%;
    float: right;
    clear: both;
  }
}
