body{
   color: white;
    background-color: #262a2e!important; 
  }
  input[type=text], [type=password] {
    background-color: #343a40!important; 
    color:white;
    border:none!important;

  }input, select, textarea{
    color: white!important;
}
  #input_select{
    background-color: #343a40!important; 
    border: none!important;

  }
.container{
    margin-top:5%;
}
#header_create_challengebtn{
    display:none;
}
#btn_createchallenge{
    margin-bottom: 25px;
}
#user_explanation{
    display: none;
}
#btn_main{
    display: none;
}
option:nth-child(2){
    cursor: not-allowed !important;
}