.container{
    margin-top:100px;
}
#header_create_challengebtn{
    display:none;
}
#btn_createchallenge{
    margin-bottom: 125px;
}
#user_explanation{
    display: none;
}
option:nth-child(2){
    cursor: not-allowed !important;
}
