@import url('https://fonts.googleapis.com/css?family=Asap');
.container{
  width: 40%;
  background-image: linear-gradient(to bottom, #808080, #787a86, #69758c, #527292, #2a7096);
  margin-left: auto;
  margin-right: auto;
  border: 0.3mm solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  font-family: 'Asap', sans-serif;
}
.name{
  font-size: 50px;
  margin: auto;
  text-align: center;
}
.category{
  text-align: center;
  font-size: 9px;
}
.aboutgroupBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 0.4mm solid black;
  background: none;
  transition: 0.25s;
  border-radius: 10px;
}
.aboutgroupBtn:hover{
  font-size: 20px;
}

.description{
  margin-top: 30px;
  font-size: 18px;
  word-wrap: break-word;
  text-align: center;
}
.avatar{
  max-height: 250px;
  height: 200px;
  margin-left: auto;
	margin-right: auto;
	display: block;
  border-radius: 7.5px;
}
.join{
 float: right;
 border: 0.4mm solid black;
 border-radius: 6px;
 font-size: 25px;
 font-family: 'Asap', sans-serif;
 margin: 7px;
 background: none;
 transition: 0.15s;
}
.join:hover{
  font-size: 27px;
}
