.jumbotron{
    background-color: white!important;
}
.jumbotron.greenback {
    height: 100%;
    padding: 0;
}
.jumbotron.greenback.right {
    float: right;
}
.col-8, .col-4{
    padding: 0!important;
}
.profile_card{
    float: left;
    width: 85px!important;
    height: 85px!important;
    margin: 15px;
    position: relative;
    text-align: center;
}
.container{
    margin-top: 13%;
}
.profile_card:hover{
    cursor: pointer;
}
.model-profile_btn{
    border: none;
    background-color:transparent;
}
#kickuser_btn{
    margin-top: -7%;
}
#btn_users{
    margin-top: -10px;
}
.card_profile_img{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 15px;
}
.card_username{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    font-weight: bold;
}
#icon{
    width: 75px; 
    height: 75px;
    margin-top:-5%;
}
