@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
header img {
    height: 80px;
    margin: 10px;
}

main {
    color: white;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

nav {
  width: 100%;
}
.loginb {
  float: right;
  font-weight: bold;
  background: none;
  display: block;
  margin-top: 20px;
  margin-right: 12px;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.float-left {
  float: left;
  margin-left: 15px;
}
.loginb:hover {
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.username{
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: auto;
  color: #333;
}
.space {
  padding: 40px;
}
.groupbtn{
  text-decoration: none;
  font-weight: bold;
  margin: 20px auto;
  background: none;
  padding: 10px 10px;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 15px;
}
.groupbtn:hover{
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.search {
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  padding: 10px;
  font-size: 15px;
  -webkit-transition: width .35s ease-in-out;
  transition: 1.25s;
}
.search:focus {
  width: 250px;
  -webkit-transition: width .35s ease-in-out;
  transition: ease-in-out, width .35s ease-in-out;
}
.searchbtn {
  font-weight: bold;
  background: none;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.searchbtn:hover{
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.search-modal{

}
.dropdown {
  margin-right: 10px;
  float: right;
  position: relative;
  display: inline-block;
}
.dropbtn {
  font-weight: bold;
  background: none;
  border: 2px solid #2A3135;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background: #2A3135;
  border: 2px solid #2A3135;
  color: white;
}
.dropbtns {
  text-align: left;
  font-weight: bold;
  background: none;
  display: block;
  width: 149.5px;
  border: none;
  padding: 10px 10px;
  outline: none;
  color: #2A3135;
  transition: 0.25s;
  cursor: pointer;
}
.dropbtns:hover {
  background: #2A3135;
  color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -130%;
  border: 2px solid #2A3135;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.show {display:block;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
