.jumbotron{
  margin-top: 74px;
}
.iconHeader{
  float: right;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  outline: none;
}
.profileimageHeader{
  width: auto;
  height: 120%;
  margin-top: -2.7px;
  margin-left: -5px;
}
.username{
  margin-left: 24px;
  font-size: 20px;
}
.creategroup{
  margin: 10px;
}
.dropdown-menu{

}
