@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #2A3135;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.title{
  text-align: center;
}
.kickbtn{
  margin-top:20px;
  margin-right: 10px;
  border: 0.3mm solid black;
  border-radius: 10px;
  width: 70px;
}

.users{
  height: 60px;
  text-align: left;
  display: block;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
  background: none;
  border: 1px solid black;
}
.userBox{

  background: white;
  width: 200px;
  border-radius: 8px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  padding: 70px;

}
.username{
  float: left;
  margin-top: 20px;
  clear: both;
  background: none;
  border: none;
}
