@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #2A3135;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
.kickbtn{
  margin-top:20px;
  margin-right: 10px;
  border: 0.3mm solid black;
  border-radius: 10px;
  width: 70px;
}
h1{
  margin-top: 20px;
}

.join{
  float: right;
  margin-top: -50px;
  border-radius: 20px;
  font-size: 30px;
  border: 0.3mm solid black;
  background: none;
}
.inviteBox{

  background: white;
  width: auto;
  border-radius: 8px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  padding: 70px;

}
.username{
  float: left;
  margin-top: 20px;
  clear: both;
  background: none;
  border: none;
}
