@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background: #2A3135;
    font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  color: white;
}
.text {
  text-align: center;
  color: white;
  font-size: 30px;
}

.loginform{
  display: none;
}
input[type=text], input[type=password] {
  border: 0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  padding: 10px 10px;
  width: 530px;
  outline: none;
  margin-top: 40px;
  box-shadow: 10px;
  border-radius: 4px;
  transition: 0.25s;
}
input[type=password]:focus{
  width: 500px;

  text-align: left;
}
input[type=text]:focus{
  width: 500px;

  text-align: left;
}

.submit{
  border: 0;
  background: #009BFF;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 10px;
  width: 300px;
  margin-top: 8%;
  outline: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
}
.submit:hover {
  background: #0075B4;
  width: 330px;
}
.forgotenPassword{
  float: left;
  margin-top: 10%;
  margin-left: 20px;
  color: white;
  transition: 0.30s;
}
.forgotenPassword:hover{
  color:blue;
  font-size: 20px;
}

  .content {
    background-color: #191919;
    margin: 10% auto 15% auto;
    width: 700px;
    height: 455px;
    padding-top: 5px;
    background: #191919;
    text-align: center;
    color: white;
    font-weight: 500;
    border-radius: 10px;
  }
.asignup {
  text-align: center;
  font-size: 25px;
  color: white;
}
.error {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: red;
}
