@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #2A3135;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}
h1 {
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
}
.welcome{
  font-family: 'Roboto', sans-serif;
  font-size: 140px;
  text-align: center;
}
.groupname2 {

}
.default{
  display: none;
}
.select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 190px;
}
.categorysubmit{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}
.sidegroups{
  float: left;
  font-size: 20px;
  margin-top: 13%;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height: 95px;

}
#name{
  font-size: 30px;
}
.mygroups{
  border-radius: 10px;
  border: 0.3mm solid black;
  background: #52B0E6;
  width: 160px;
  margin-top: 10px;
  word-wrap: break-word;
  transition: 0.18s;
}
.mygroups:hover{
   width: 180px;
}
