.space {
    padding: 25
}
.jumbotron {
    background-image: url("../pics/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-radius: 0%;
    color: white;
}
.my-4{
    background-color: white;
}
#main_btn { 
    margin: 0;
}
#header_create_challengebtn{
    display: none;
}
