::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.containerpost{
  margin-left: 35px;
  width: 50%;
  height: 30%;
  background: white;
  margin-left: 5px;
  margin-right: auto;
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  float: left;
  clear: both;
}
#descriptionfont{
  font-size: 20px;
  max-width: 320px;
}
.title{
  font-size: 40px;
  float: left;
  margin: auto;
}
.description{
  float: left;
  margin: auto;
  clear: both;
  font-size: 150px;
  word-wrap: break-word;
}
.avatar{
  margin-top: -200px;
  max-height: 170px;
  height: auto;
  margin-left: 55%;
}
.comment{
  float: left;
}
@media only screen and (max-width: 600px) {
  .containerpost{
    margin-left: 35px;
    width: 40%;
    height: 30%;
    background: white;
    margin-left: 5px;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    float: left;
    clear: both;
  }
  #descriptionfont{
    font-size: 10px;
    max-width: 150px;
  }
  .title{
    font-size: 20px;
    max-width: 100px;
    word-wrap: break-word;
    float: left;
    margin: auto;
    text-align: center;
  }
  .description{
    float: left;
    margin-top: 10px
    text-align: center;
    clear: both;
    word-wrap: break-word;
  }
  .avatar{
    margin-top: 30px;
    max-height: 70px;
    height: auto;
    margin-left: 1%;
  }
  .comment{
    float: left;
    margin-top: 10px;
  }



}
