.search-box{
  margin: 10px;
}
.search{
  background-color: #48484E;
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 150px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  color: white;
}
.search:focus {
  width: 300px;
}
.searchresult{
  position: fixed;
  background: white;
  width: 300px;
  border-radius: 5px;
}
.dropdown-item:hover{
  border-radius: 5px;
}
@media only screen and (max-width: 577px) {
  .search:focus{
    width: 160px;
  }
}
@media only screen and (max-width: 412px) {
  .search{
    width: 100px;
  }
}
@media only screen and (max-width: 378px) {
  .search{
    width: 60px;

  }
  .search:focus{
    width: 75px;
  }
}
@media only screen and (max-width: 300px) {
  .search{
    width: 60px;

  }
  .search:focus{
    width: 60px;
  }
}
