.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 20px;
  }
.text-left{
    font-weight: 700;
    font-size:15px;
    margin-top:50px;
    margin-left: 15px;
    color:white;
}
.hjuma_btn{
    
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.267);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:10px;
    width: 90%;
    margin-left: 15px;
    font-weight: 500;
    transition: 150ms;
}
.hjuma_btn:hover{
    background-color: #1A1A1A;
    text-decoration: none;
    color: white;
}