nav{
    background-color: white!important;
    box-shadow: none !important;
  }
.container{
    margin-top: 50px;
}
.alert{
    margin-top: 25px;
}
.login-link{
    text-align: center;
    display: block;
    margin: 15px;
}